* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "Quicksand";
    scrollbar-color: var(--pink-hot) var(--pink-light);
    scrollbar-width: auto;
      
}





:root {
    --cream: #FFFA94;
    --cream-light: #FFFDD6;
    --brown: #4C2F2F;
    --brown-light: #AD7D79;
    --pink: #FF94A9;
    --pink-light: #FFD6E1;
    --pink-hot: #FF0080; 

}

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: var(--cream);
    color:var(--brown)
    
}

fieldset {
    all: unset;
    text-align: center;
    
}

a:visited {
    color:var(--brown)
}

a:link {
  color: var(--brown); 
}

a {

    display: flex;
    justify-content: center;
    align-items: center;
  
  
}


input[type="submit"], button, .send-button, a {
   
    border-style: solid;
    border-radius: 16px;
    border-width: 0.25rem;

    border-color: var(--pink);
    color:var(--cream-light);
    background-color: var(--brown);
   
    font-size: 1.75rem;
    line-height: 1.3;
    text-decoration: none;
    font-weight: bold;

    padding-block: 0.5rem;
    padding-inline: 1rem;
    
    display:flex;
    
    align-items: center;
    
    
    
}




button:hover {

    background-color: var(--cream-light);
    color: var(--brown);

    
}
select, input[type="text"], input[type="email"], input[type="tel"]  {
    
    text-align: center;
    border-radius: 0.5rem;
    padding-block: 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    
    color:var(--brown);
    border-top-color: var(--pink-hot);
    border-left-color: var(--pink-hot);
    border-right-color:var(--pink);
    border-bottom-color: var(--pink);
    
    padding-block: 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    

}

input[type="number"] {

    
    
    color:var(--brown);
    
    border-top-color: var(--pink-hot);
    border-left-color: var(--pink-hot);
    border-right-color:var(--pink);
    border-bottom-color: var(--pink);
    
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.3;
    border-radius: 0.5rem;


}

input[type="checkbox"], input[type="radio"] {
    accent-color: var(--pink-hot);
    
}

input::placeholder {
    color:var(--brown)
}

textarea {
    
    text-align: center;
    border-radius: 0.5rem;
    color: var(--brown);
    border-top-color: var(--pink-hot);
    border-left-color: var(--pink-hot);
    border-right-color: var(--pink);
    border-bottom-color: var(--pink);
    padding-block: 0.75rem;
    padding-inline: 1rem;

    font-size: 1rem;
    line-height: 1.5;
    font-family: "Quicksand";
    font-weight: normal;
    font-style: normal;
    
}

textarea::placeholder {
    color: var(--brown);
}


.main-nav a {
    background-color: var(--pink-light);
    border-color: var(--pink)
}

.main-nav a:hover {
  color: var(--brown);
  background-color: var(--cream-light); 
}

.menu-button a, .jump-button a {
    background-color: var(--pink-light);
    color: var(--brown);

}

.location a, .reviews a {
    width: fit-content;
    background-color: var(--cream-light);
    align-self: center;
}

.menu-button a:hover, .jump-button a:hover, a:hover {
  color: var(--brown);
  background-color: var(--brown);
  color: var(--cream-light);
  border-color: var(--pink)
  
}

.submit-button {
    grid-column: 2/4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}

ul {
    list-style-type: none;
}

.footer {
    grid-column: span 12;
    grid-row: span 3;
    background-color: var(--brown);


}





/* FONT SIZES */

.page-headers {
    color: var(--brown);
    font-size: 3.5rem;
    line-height: 1.2;
    grid-column: 2/5;
    grid-row: 1;
    margin: 0;
    font-family: "Sniglet";
    font-weight: bold;
    font-style: normal;
    margin-block: 2.5rem;

    
}

.section-headers {
    
    font-size: 2rem;
    line-height: 1.2;
    grid-column: 2/11;
    grid-row: 1;
    margin: 0;
    font-family: "Quicksand";
    font-weight: 800;
    font-style: normal;

}

.inner-headers {
    color:var(--brown);
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0;
    font-family: "Sniglet";
    font-weight: normal;
    font-style: normal;
    
}

.body-1 {   
    font-size: 1.25rem;
    line-height: 1.3;
    margin: 0;
    font-family: "Quicksand";
    font-weight: 700;
    font-style: normal;
    
    
       
}


.body-2 {   
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    font-family: "Quicksand";
    font-weight: normal;
    font-style: normal;
    
       
}




.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    
  
}

 /*

    NAVBAR

*/
.grid-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(88px, auto);
    
    
}


 /*

    HERO SECTION
*/


.grid-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--brown);
    
    
}



 /*

    HEADER for page sections

*/

.grid-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    align-items: center;
    
}



 /*

    HEADER for page titles (except index.html)

*/

.grid-5 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--pink);
    
    
}


 /*

    BUTTON

*/

.grid-6 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    align-items: center;
    column-gap: 2rem;
    padding-block: 1rem;
    
    
}


 /*

    CARDS with HEADER

*/


.grid-4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    column-gap: 2rem;
    row-gap: 2rem;
    
    
    
}


 /*

    SECTION WITH CARDS NO HEADER

*/

.grid-7 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
    row-gap: 2rem;
    column-gap: 2rem;
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--pink);
    padding-block: 3rem;
    
    
    
}



/* 

    FOOTER

*/

.grid-8 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(104px, auto);
    grid-auto-rows: minmax(104px, auto);
}


img {
    width: 40%;
    height:fit-content;
    max-width: 100%
}

.grid-2 img {
    grid-column: 7/12;
    grid-row: 1/3;
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
}

.grid-5 img {
    grid-row: 1;
    grid-column: 7/12;
    width: 72%;
    height: auto;
    
}

/* 

HOME PAGE
INDEX.HTML PAGE
HOME PAGE
INDEX.HTML PAGE

*/



.navigation-bar {
    position: sticky;
    z-index: 1000;
    top: 0;
}


.main-nav {
    
    grid-row: 1;
    grid-column: span 12;
    background-color: var(--brown);
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    border-bottom-color: var(--pink);
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    color: var(--brown);
    align-content: center;
    gap: 0.75rem
    

}





.grid-2 h1 {
    grid-row: 1/3
}


.featured-pudding {
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--brown);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}




 .featured-1, .featured-2, .featured-3 {
    background-color: var(--pink-light);
    border-radius: 16px;
    border-color: var(--pink);
    border-width: 0.5rem;
    border-style: solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: 0.75rem;
    padding-inline: 0.5rem;
    justify-content: space-evenly;
    
    
}

.featured-1 {
    grid-column: 2/5;
    grid-row: 1/3;
}

.featured-2 {
    grid-column: 5/8;
    grid-row: 1/3;
}

.featured-3 {
    grid-column: 8/11;
    grid-row: 1/3;
}

.menu-button {
    grid-column: 2/5;
    grid-row: 1;
      
}


.hours, .hours-2 {
        background-color: var(--pink-light);
        border-style: solid;
        border-width: 0.5rem;
        border-color: var(--pink);
        border-radius: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        
}

.hours {grid-column: 2/5;
        grid-row: 1/5;

}

.hours ul, .hours-2 ul {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    
    
}



.location {grid-column: 5/11;
            grid-row: 1/3;
            background-color:var(--pink-light);
            border-radius: 16px;
            border-color:var(--pink);
            border-style: solid;
            border-width: 0.5rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            
}

.location, .hours, .hours-2, .reviews, .contact-info, .contact-form, .about-card, .online-order-form {
    padding-block: 1.5rem;
    padding-inline: 1rem;

}




.reviews {
    grid-column: 5/11;
    grid-row: 3/5;
    background-color:var(--pink-light);
    border-radius: 16px;
    border-color:var(--pink);
    border-style: solid;
    border-width: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}



/*

MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML
MENU.HTML


*/



.pudding-options, .order-form-section {
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--pink);
    padding-top: 2rem;
    padding-bottom: 4rem;
    
}

.our-offerings, .our-owners {
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    border-bottom-color: var(--pink);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.jump-button {
    grid-row: 1;
    grid-column: 2/5
}


.menu-1, .menu-2, .menu-3, .menu-4, .menu-5, .menu-6, .menu-7, .menu-8, .menu-9 {
    
    background-color: var(--pink-light);
    border-radius: 16px;
    border-color: var(--pink);
    border-width: 0.5rem;
    border-style: solid;

    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: 0.75rem;
    padding-inline: 0.5rem;
    justify-content: center;
    
}


.menu-1 {
    grid-column: 2/5;
    grid-row: 1/3;
    
}

.menu-2 {
    grid-column: 5/8;
    grid-row: 1/3;
    
}

.menu-3 {
    grid-column: 8/11;
    grid-row: 1/3;

}
    

.menu-4 {
    grid-column: 2/5;
    grid-row: 3/5;
    
}

.menu-5 {
    grid-column: 5/8;
    grid-row: 3/5;
    
}
.menu-6 {
    grid-column: 8/11;
    grid-row: 3/5;
    
}


.menu-7 {
    grid-column: 2/5;
    grid-row: 5/7;
    
}

.menu-8 {
    grid-column: 5/8;
    grid-row: 5/7;
    
}
.menu-9 {
    grid-column: 8/11;
    grid-row: 5/7;
    
}







.online-order-form {
    grid-column: 2/11;
    grid-row: 1/5;
    background-color: var(--cream-light);
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--pink);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--brown);
    text-align: center;
    align-items: center;
    
    
    
    
    
    
}


.special-req {
    grid-row: 1;
    grid-column: 2/4;
    color:#FFFDD6;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--brown)
    
    
}




.customer-details {
    
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    grid-column: 3/5;
    justify-content: space-evenly;
    padding-left: 1rem;
    gap: 0.5rem
    
    
    
    
}





.order-details {
    grid-column: 1/3;
}




.order-puddings {
    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    border-right-style: dotted;
    border-right-color:var(--pink-hot);
    border-right-width: 0.25rem;
    color: var(--brown);
    justify-content: space-evenly;
    padding-right: 1rem;
    gap: 0.5rem;
    
}



.inner-row {

    
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    
    

}


.inner-column {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    
}

.inner-column-2 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}





.about-card {
    grid-column: 2/11;
    grid-row-start: 1;
    background-color: var(--brown);
    border-style: solid;
    border-width: 0.5rem;
    border-color: #F5A6C1;
    border-radius: 16px;
    display: flex;
    line-height: 1.6;
    color:#FFFCC2

}
    
 






.contact-form {
    grid-column: 2/8;
    grid-row: 1/6;
    background-color: var(--brown);
    border-style: solid;
    border-width: 0.5rem;
    border-color: #F5A6C1;
    border-radius: 16px;
    color:#FFFCC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    
    
}

.contact-info {
    grid-column: 8/11;
    grid-row: 1/3;
    background-color: var(--pink-light);
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--pink);
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
  
}

.contact-info p {
    word-break: break-word;
}


.hours-2 {
    
    grid-column: 8/11;
    grid-row: 3/6;
    
    
}


.hours-2 ul {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    flex: 1;

}

@media (max-width: 676px) {

    .grid-container {
    padding-inline: 1.5rem;
    }

    

    .navigation-bar {
        position: static;
    }

    .main-nav {
        grid-column: 1;
        grid-row: 1;
        padding-block: 1rem;
        padding-inline: 0.75rem;
        justify-content: space-evenly;
    }

    .main-nav li {
        min-width: 144px;
    }

    .grid-1 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(64px, auto);
        grid-auto-rows: minmax(64px, auto);
    }

    .grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);
        
        


    }

    .grid-2 h1 {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        
    }

    .grid-2 img {
        grid-row: 2;
        grid-column: 1;
    }

    .grid-5 img {
        grid-row: 2;
        grid-column: 1;
    }
    
    .grid-3 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);


    }

    .section-headers {
        grid-column: 1;
        grid-row: 1;
    }

    .page-headers {
        grid-column: 1;
        grid-row: 1;
    }

    .grid-4 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);
        

    }

    .featured-1 {
        grid-column: 1;
        grid-row: 1/3;
    }

    .featured-2 {
        grid-column: 1;
        grid-row: 3/5;
    }

    .featured-3 {
        grid-column: 1;
        grid-row: 5/7;
    }

    .grid-6 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        
        
    }

    .menu-button {
        grid-column: 1;
        grid-row: 1;
    }

    .grid-7 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);
        padding-inline: 1.5rem;

    }

    .hours {
        grid-column: 1;
        grid-row: 1/5
    }

    .location {
        grid-column: 1;
        grid-row: 5/8
    }

    .reviews {
        grid-column: 1;
        grid-row: 8/11
    }

    .grid-8 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto); 
    }

    .footer {
        grid-column: 1;
        grid-row: 1;
    }

    .jump-button {
        grid-row: 1;
        grid-column: 1;
    }

    .menu-1 {
        grid-column: 1;
        grid-row: 1/3
    }

    .menu-2 {
        grid-column: 1;
        grid-row: 3/5
    }

    .menu-3 {
        grid-column: 1;
        grid-row: 5/7
    }

    .menu-4 {
        grid-column: 1;
        grid-row: 7/9
    }

    .menu-5 {
        grid-column: 1;
        grid-row: 9/11
    }

    .menu-6 {
        grid-column: 1;
        grid-row: 11/13
    }

    .menu-7 {
        grid-column: 1;
        grid-row: 13/15
    }

    .menu-8 {
        grid-column: 1;
        grid-row: 15/17
    }

    .menu-9 {
        grid-column: 1;
        grid-row: 17/19
    }

    .menu-10 {
        grid-column: 1;
        grid-row: 19/21
    }

    .menu-11 {
        grid-column: 1;
        grid-row: 21/23
    }

    .menu-12 {
        grid-column: 1;
        grid-row: 23/25
    }

    .online-order-form {
        grid-column: 1;
        grid-row: 1/10;
        padding-block: 2rem;
        padding-inline: 0rem;
        
        
    }


    

    .order-puddings {
        grid-column: 1;
        grid-row: 1/6;
        padding-right: 0;
        border-style: none;
        border-width: 0;
        align-items: center;
        padding-bottom: 1rem;
    }



    .customer-details {
        grid-column: 1;
        grid-row: 6/12;
        padding: 0;
        border-top-style: dotted;
        border-top-color:var(--pink-hot);
        border-top-width: 0.25rem;
        padding-top: 1rem;
    }

    button {
        margin-top: 1rem;
    }

    .submit-button {
        grid-row: 12;
        grid-column: 1;
        align-self: center;
        justify-self: center;
    }

    .inner-row {
        flex-direction: column
    }

    .send-button {
        grid-row: 1;
        grid-column: 1;
    }

    .grid-5 {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto); 
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }
    
    .about-card {
        grid-column: 1;
        grid-row: 1;
    }

    .contact-info {
        grid-column: 1;
        grid-row: 1/3;

    }

    .contact-form {
        grid-column: 1;
        grid-row: 3/9
    }

    .hours-2 {
        grid-column: 1;
        grid-row: 9/14;

    }

   .inner-column-2 {
        display: flex;
        flex-direction: column;
    }

   

    

   textarea {
    padding-inline: 0.5rem;
   }
    
   

   .inner-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(88px, auto);
        grid-auto-rows: minmax(88px, auto);

   }
}